@import '../../assets/scss/variables';

.folder-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 8px;
  border-radius: 8px;
  transition: background-color 0.3s, border-color 0.3s;
}

.folder-item:hover {
  background-color: $folder-background-color;
  border-color: $folder-border-color;
}

.folder-icon {
  font-size: 64px;
  color: $light-black-color;
  margin-bottom: 8px;
}

.folder-name {
  font-size: 14px;
  color: $light-black-color;
  word-break: break-word;
  max-width: 100%;
}
