$primary: #4b009b;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;
$light-black-color: #333;

$folder-border-color: #ccc;
$folder-background-color: #f0f0f0;

$document-border-color: #ddd;
$document-background-color: #fff;
