<div class="container">
  <div class="row mb-5 align-items-center justify-content-between">
    <div class="col-auto">
      <h2>Adicionar Novo Usuário</h2>
      <span class="text-muted">Preencha os dados pessoais e os dados de pagamento do novo usuário.</span>
    </div>
  </div>

  <form [formGroup]="form" (submit)="onSubmit()">
    <!--    <app-form-debug [form]="form" [simple]="false"></app-form-debug>-->
    <div class="row g-3 mb-5">
      <div class="col-12">
        <h4 class="m-0">Dados Pessoais</h4>
      </div>
      <div class="col-md-6 col-12">
        <label for="firstname" class="form-label">Nome <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="firstname" appOnlyLetters
               [ngClass]="isValid('firstName')" formControlName="firstName">
        <field-error-message [type]="'required'" [message]="'O campo é obrigatório'"
                             [control]="get('firstName')"></field-error-message>
        <field-error-message [type]="'maxLength'" [message]="'O nome só pode ter no máximo 16 caracteres'"
                             [control]="get('firstName')"></field-error-message>
      </div>
      <div class="col-md-6 col-12">
        <label for="lastname" class="form-label">Sobrenome <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="lastname" appOnlyLetters
               [ngClass]="isValid('lastName')" formControlName="lastName">
        <field-error-message [type]="'required'" [message]="'O campo é obrigatório'"
                             [control]="get('lastName')"></field-error-message>
        <field-error-message [type]="'maxLength'" [message]="'O sobrenome só pode ter no máximo 40 caracteres'"
                             [control]="get('lastName')"></field-error-message>
      </div>
      <div class="col-md-6 col-12">
        <label for="firstname" class="form-label">CPF <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="document" mask="000.000.000-00"
               [ngClass]="isValid('document')" formControlName="document">
        <field-error-message [type]="'required'" [message]="'O campo é obrigatório'"
                             [control]="get('document')"></field-error-message>
      </div>
      <div class="col-md-6 col-12">
        <label for="firstname" class="form-label">Data de nascimento <span class="text-danger">*</span></label>
        <input type="date" class="form-control" id="birthDate"
               [ngClass]="isValid('birthDate')" formControlName="birthDate">
        <field-error-message [type]="'required'" [message]="'O campo é obrigatório'"
                             [control]="get('birthDate')"></field-error-message>
      </div>
      <div class="col-md-6 col-12">
        <label for="firstname" class="form-label">Email</label>
        <input type="email" class="form-control" id="email"
               [ngClass]="isValid('email')" formControlName="email">
        <field-error-message [type]="'required'" [message]="'O campo é obrigatório'"
                             [control]="get('email')"></field-error-message>
        <field-error-message [type]="'email'" [message]="'O formato desse email não é válido'"
                             [control]="get('email')"></field-error-message>
      </div>
      <div class="col-md-6 col-12">
        <label for="firstname" class="form-label">Telefone</label>
        <input type="text" class="form-control" id="phone" mask="(00) 00000-0000"
               [ngClass]="isValid('phone')" formControlName="phone">
        <field-error-message [type]="'required'" [message]="'O campo é obrigatório'"
                             [control]="get('phone')"></field-error-message>
      </div>
    </div>

    <div class="row g-3 mb-5">
      <div class="col-12">
        <h4 class="m-0">Cartão de Crédito</h4>
      </div>

      <div class="col-md-6 col-12">
        <label for="holderName" class="form-label">Nome no cartão <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="holderName" appOnlyLetters
               [ngClass]="isValid('holderName')" formControlName="holderName">
        <field-error-message [type]="'required'" [message]="'O campo é obrigatório'"
                             [control]="get('holderName')"></field-error-message>
        <field-error-message [type]="'maxLength'" [message]="'O nome só pode ter no máximo 40 caracteres'"
                             [control]="get('holderName')"></field-error-message>
      </div>

      <div class="col-md-6 col-12">
        <label for="number" class="form-label">Número do cartão <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="number" mask="0000 0000 0000 0000"
               [ngClass]="isValid('number')" formControlName="number">
        <field-error-message [type]="'required'" [message]="'O campo é obrigatório'"
                             [control]="get('number')"></field-error-message>
      </div>

      <div class="col-md-6 col-12">
        <label for="expirationDate" class="form-label">Data de expiração <span class="text-danger">*</span></label>
        <input type="month" class="form-control" id="expirationDate"
               [ngClass]="isValid('expirationDate')" formControlName="expirationDate">
        <field-error-message [type]="'required'" [message]="'O campo é obrigatório'"
                             [control]="get('expirationDate')"></field-error-message>
      </div>

      <div class="col-md-6 col-12">
        <label for="securityCode" class="form-label">Código de segurança <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="securityCode" mask="000"
               [ngClass]="isValid('securityCode')" formControlName="securityCode">
        <field-error-message [type]="'required'" [message]="'O campo é obrigatório'"
                             [control]="get('securityCode')"></field-error-message>
      </div>
    </div>

    <div class="row g-3 mb-3">
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" formControlName="creditAnalysis" type="checkbox" id="creditAnalysis">
          <label class="form-check-label" for="creditAnalysis">
            Incluir o score da análise de crédito manualmente?
            &nbsp;<i class="fa-regular fa-circle-question"
                     [ngbTooltip]="'Ao desabilitar essa função, o sistema irá preencher o score desse usuário com um número aleátorio entre 0 e 1000'"></i>
          </label>
        </div>
      </div>

      @if (!!getValue('creditAnalysis')) {
        <div class="col-md-6 col-12">
          <label for="score" class="form-label">Score de crédito (0 a 1000) <span class="text-danger">*</span></label>
          <input type="number" class="form-control" id="score"
                 [ngClass]="isValid('score')" formControlName="score">
          <field-error-message [type]="'required'" [message]="'O campo é obrigatório'"
                               [control]="get('score')"></field-error-message>
          <field-error-message [type]="'numeric'" [message]="'O número precisa ser positivo'"
                               [control]="get('score')"></field-error-message>
          <field-error-message [type]="'maxNumber'" [message]="'O número precisa ser no máximo 1000'"
                               [control]="get('score')"></field-error-message>
        </div>
      }
    </div>

    <div class="row g-3">
      <div class="col-12 d-flex justify-content-end">
        <button type="button" (click)="gotoUsersList()"
                class="btn btn-outline-secondary px-4 me-2">Voltar
        </button>
        <app-button [type]="'submit'" [customClass]="'btn btn-primary px-4'"
                    [loading]="submittingFormLoading" [label]="'Salvar Usuário'"
                    [loadingLabel]="'Salvando...'"></app-button>
      </div>
    </div>
  </form>
</div>
