@import '../../assets/scss/variables';

.card {
  padding: 36px 32px;
  display: flex;
  justify-content: center;
  align-items: start;

  .info {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;

    .user-circle {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: $app-primary-color;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase;
      margin-right: 12px;
    }

    .sub-info {
      display: flex;
      flex-direction: column;

      .c-name {
        font-weight: bold;
      }
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 12px;

    .score {
      padding: 6px 10px;
      border-radius: 8px;
      color: $app-white-color;
      font-weight: bold;

      &.unfit {
        background: red;
      }

      &.limitations {
        background: darkorange;
      }

      &.fit {
        background: darkgreen;
      }
    }
  }
}
